extends layout
block link
    // jQuery UI
    link(rel="stylesheet" href="/javascripts/jquery-ui/jquery-ui.min.css")
    // AnimateCSS
    link(rel="stylesheet" href="/stylesheets/animate.min.css")
    // MaterializeCSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    // Materialize Icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    // Datatables
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")
    // Custom Css
    link(rel="stylesheet" href="/stylesheets/style.css")
block header
    header
        .navbar-fixed
            nav.blue.darken-3
                .container
                    .nav-wrapper
                    a.brand-logo SIG Bétera
                    ul.left.hide-on-large-only(style="padding-right : 10px;")
                        li
                            a#menu-mobile.button-collapse(href="#" data-activates="slide-out")
                                i.material-icons menu
                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a(href="/visor") Visor
block content
    // Div visible Inicio
    #inicio.seccion.visible_bet(style=" top : 64px; right : 0px; bottom : 0px; position : absolute;")
        div(style="position : fixed; background : url('/images/betera-logo.png') no-repeat center; top:64px;bottom:0;left:300px;right:0; background-size: 50% 90%;")
    #usuarios.seccion(style=" top : 64px; right : 0px; bottom : 0px; position : absolute; visibility : hidden; margin : 15px;") Usuarios
        table#usuarios_table.display.highlight(cellspacing="0" width="100%")
            thead
                tr
                    th.no-sort
                    each k in ['id', 'name', 'email', 'rol', 'grupos']
                        th #{k}
            tbody
                each user in allUsers
                    tr
                        td.no-sort(user-id="#{user.id}")
                            i.user-detail-btn.material-icons.green-text(style="cursor : pointer;") mode_edit
                        each k in ['id', 'name', 'email', 'rol']
                            td #{user[k]}
                        td #{ (user['grupos'] || []).join(', ')}
    #mapas.seccion(style=" top : 64px; right : 0px; bottom : 0px; position : absolute; visibility : hidden; margin : 15px;")
        .card-panel.indigo.white-text Todos los mapas
            i.create-map-btn.material-icons.white-text(style="float : right; cursor : pointer;") add_circle_outline
        table#mapas-table.display.highlight(cellspacing="0" width="100%")
            thead
                tr
                    each k in ['id', 'name', 'layers', 'baselayers']
                        th #{k}
                    th.no-sort
                        i.material-icons(style="cursor : default; ") mode_edit
                    th.no-sort
                        i.material-icons(style="cursor : default; ") remove_circle_outline
            tbody
                each mapa in allMaps.sort(function(a, b){ return a.id > b.id})
                    tr
                        each k in ['id', 'name', 'layers', 'baselayers']
                            td #{mapa[k]}
                        td
                            i.green-text.edit-map-btn.material-icons(map-id="#{mapa.id}" style="cursor : pointer;") mode_edit
                        td
                            i.red-text.delete-map-btn.material-icons(map-id="#{mapa.id}" style="cursor : pointer;") remove_circle_outline
        .card-panel.indigo.white-text Mapas default
            i.create-map-default-btn.material-icons.white-text(style="float : right; cursor : pointer;") add_circle_outline
        table#mapas-default-table.display.highlight(cellspacing="0" width="100%")
            thead
                tr
                    each k in ['id', 'name']
                        th #{k}
                    th.no-sort
                        i.material-icons(style="cursor : default; ") remove_circle_outline
            tbody
                each mapa in (allDefaultMaps || []).sort(function(a, b){ return a.id > b.id})
                    tr
                        each k in ['id', 'name']
                            td #{mapa[k]}
                        td
                            i.red-text.delete-map-default-btn.material-icons(map-id="#{mapa.id}" style="cursor : pointer;") remove_circle_outline
    #capas.seccion(style=" top : 64px; right : 0px; bottom : 0px; position : absolute; visibility : hidden; margin : 15px;")
        .card-panel.indigo.white-text Capas PostGIS
            i.create-layer-btn.material-icons.white-text(style="float : right; cursor : pointer;") add_circle_outline
        table#capas_table.display.highlight(cellspacing="0" width="100%")
            thead
                tr
                    each k in Object.keys(allLayers[0])
                        th #{k}
                    th.no-sort
                        i.material-icons(style="cursor : default; ") remove_circle_outline
            tbody
                each capa in allLayers.sort(function(a, b){ return a.id > b.id})
                    tr
                        each k in Object.keys(allLayers[0])
                            td #{capa[k]}
                        td
                            i.red-text.delete-layer-btn.material-icons(layer-id="#{capa.id}" layer-name="#{capa.name}" style="cursor : pointer;") remove_circle_outline
        .card-panel.indigo.white-text Servicios WMS
            i.create-baselayer-btn.material-icons.white-text(style="float : right; cursor : pointer;") add_circle_outline
        table#capas_wms_table.display.highlight(cellspacing="0" width="100%")
            thead
                tr
                    each k in Object.keys(allBaseLayers[0])
                        th #{k}
                    th.no-sort
                        i.material-icons(style="cursor : default; ") remove_circle_outline
            tbody
                each capa in allBaseLayers.sort(function(a, b){ return a.id > b.id})
                    tr
                        each k in Object.keys(allBaseLayers[0])
                            td #{capa[k]}
                        td
                            i.red-text.delete-baselayer-btn.material-icons(baselayer-id="#{capa.id}" style="cursor : pointer;") remove_circle_outline
    #mail.seccion(style=" top : 64px; right : 0px; bottom : 0px; position : absolute; visibility : hidden; margin : 15px;")
        .card-panel.col.s12.indigo.white-text Mensaje
        .col.s12
            .fixed-action-btn(style='bottom: 45px; right: 24px;')
                a#send-mail.btn-floating.btn-large.indigo
                    i.large.material-icons send
            form.col.s12
                .row
                    .input-field.col.s6
                        input#titulo-mail(type='text', length='20')
                        label(for='titulo-mail') Título
                .row
                    .input-field.col.s12
                        textarea#cuerpo-mail.materialize-textarea(length='500')
                        label(for='cuerpo-mail') Cuerpo del mensaje
        .card-panel.col.s12.indigo.white-text Usuarios
        .col.s12
            ul.collapsible(data-collapsible='accordion')
                each grupo in allGroups
                    li
                        .collapsible-header.indigo-text
                            form(action="#")
                                if allUsers.reduce(function(a, b){ if( (b.grupos || []).indexOf(grupo) > -1) a.push(b); return a;}, []).length
                                    input.input-group(type='checkbox' id="grupo-#{grupo}" disabled=false)
                                else
                                    input.input-group(type='checkbox' id="grupo-#{grupo}" disabled=true)
                                label.indigo-text(for="grupo-#{grupo}") #{grupo}
                        .collapsible-body
                            ul.collection
                                each user in allUsers.reduce(function(a, b){ if( (b.grupos || []).indexOf(grupo) > -1) a.push(b); return a;}, [])
                                    li.collection-item
                                        form(style="margin-left : 3em;" action="#")
                                            input.input-user(id="#{grupo}-#{user.name}" email="#{user.email}" type='checkbox' group="grupo-#{grupo}")
                                            label(for="#{grupo}-#{user.name}") Nombre : #{user.name}   Email : #{user.email}
    // Menú lateral
    ul#slide-out.side-nav.fixed(style="margin-top : 64px; z-index : 1000;")
        li(style="background : url('http://www.betera.com/wp-content/uploads/policia-local-31.jpg'); background-size : 150%;")
            .userView
                a()
                    i.material-icons.prefix.circle.white-text.darken-2(style="font-size : 5em;") account_circle
                a()
                    span.black-text.name #{user.name}
                a(href='#!email')
                    span.black-text.email #{user.email}
        li.bold.active
            a(href='#inicio' data-href='#inicio') 
                | Inicio
                i.material-icons.indigo-text(style="float : right") home
        li
            .divider
        li.bold
            a.waves-effect(href='#usuarios' data-href='#usuarios')
                | Usuarios
                i.material-icons.blue-text(style="float : right") person_pin
        li
            .divider
        li.bold
            a.waves-effect(href='#mapas' data-href='#mapas')
                | Mapas
                i.material-icons.green-text(style="float : right") map
        li
            .divider
        li.bold
            a.waves-effect(href='#capas' data-href='#capas')
                | Capas
                i.material-icons.orange-text(style="float : right") layers
        li
            .divider
        li.bold
            a.waves-effect(href='#mail' data-href='#mail')
                | Mail
                i.material-icons.red-text(style="float : right") mail_outline
        li
            .divider
        li
            a.subheader Footer Prueba
    // Modal Structure
    #new-layer.modal.modal-fixed-footer
        .modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Nueva Capa Postgis
        .modal-content.row
            form#upload-layer-form(action='#' enctype="multipart/form-data")
                .row
                    .input-field.col.s12
                        input#nombre_capa.validate(placeholder='Nombre de la capa', type='text')
                        label(for='first_name') Nombre de la capa
                .file-field.input-field
                    .btn.col.s2
                        span SHP
                        input(type='file', multiple='multiple')
                    .file-path-wrapper
                        input.file-path.validate(type='text', placeholder='Añade SHP SHX y DBF' name="shps[]")
                button.btn.waves-effect.waves-light(name="action" type="submit") Subir Capa
                    i.material-icons.right send                
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
    #new-baselayer.modal.modal-fixed-footer
        .modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Nueva Conexión WMS
        .modal-content.row
            form#get-layers-wms-form(action='#' enctype="multipart/form-data")
                .row
                    .input-field.col.s12
                        input#url_servicio.validate(placeholder='Url del servicio', type='text')
                        label(for='first_name') Url del servicio
                .col.s6.offset-s3
                    button.btn.waves-effect.waves-light(name="action" type="submit") Obtener Capas
                        i.material-icons.right send
            form#upload-baselayer-form(action="#")
                .input-field.col.s12(style="margin-top : 30px;")
                    select#select-capas-wms(multiple='')
                        option(selected="" disabled="" value="") Elige capas a añadir
                    label Capas del servicio
                .col.s6.offset-s3
                    button.btn.waves-effect.waves-light(name="action" type="submit" disabled="") Añadir Servicio WMS
                        i.material-icons.right send
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
    #user-detail.modal.modal-fixed-footer
        .modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Editar Usuario
        .modal-content
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
    #new-map.modal.modal-fixed-footer
        .modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Nuevo Mapa
        .modal-content.row
            form#new-map-form(method="POST" action="/")
                .col.s10
                    input.col.s12(type="text" placeholder="Añade nombre para nuevo mapa" name="name")
                .col.s2
                    button.btn.waves-effect.waves-light(name="action" type="submit") Crear
                        i.material-icons.right send
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
    #new-map-default.modal.modal-fixed-footer
        .modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Añadir Mapa Default
        .modal-content.row
            .col.s12
                select.col.s12(placeholder="Elige un mapa para hacerlo default" name="name")
                    option(disabled selected value="") Elige un mapa para hacerlo default
                    each map in allMaps.reduce(function(list, m){ if( (allDefaultMaps || []).map(function(a){return a.id;}).indexOf(m.id) == -1)list.push(m);return list;}, [])
                        option(value="#{map.id}") #{map.name}
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
    #edit-map.modal.modal-fixed-footer
        .modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Editar mapa
        .modal-content(style="height: calc(100% - 120px)")
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
block script
    // jQuery
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    // jQuery UI
    script(src="/javascripts/jquery-ui/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")
    script.
        var allUsers = JSON.parse('!{JSON.stringify(allUsers)}');
        var allMaps = JSON.parse('!{JSON.stringify(allMaps)}');
        var allDefaultMaps = JSON.parse('!{JSON.stringify(allDefaultMaps)}');
        var allLayers = JSON.parse('!{JSON.stringify(allLayers)}');
        var allBaseLayers = JSON.parse('!{JSON.stringify(allBaseLayers)}');
        var allGroups = JSON.parse('!{JSON.stringify(allGroups)}');
        $('.collapsible').collapsible();
        $('.button-collapse').sideNav();
    script(src="/javascripts/admin.js")