extends layout

block link
	// AnimateCSS
	link(rel="stylesheet" href="/stylesheets/animate.min.css")
	// MaterializeCSS
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
	// Materialize Icons
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	// Custom Css
	link(rel="stylesheet" href="/stylesheets/style.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
block header
	style.
		@media only screen and (min-width: 601px) {
			#slide-out{
				margin-top: 64px;
			}
		}
		@media only screen and (max-width: 600px) {
			#slide-out{
				margin-top: 56px;
			}
		}
		.select-dropdown{
			border-bottom : 1px solid #fff !important;
		}
	head
		.navbar-fixed
			nav.blue.darken-3
				.container
					.nav-wrapper
						ul.left.hide-on-large-only(style="")
							li
								a#menu-mobile.button-collapse(href="#" data-activates="slide-out")
									i.material-icons menu
						ul.left
							li.hide-on-med-and-down
								a(href="#")
									img.left(src="/images/betera-logo.png" style="max-height : 60px; margin-right : 10px;")
							li
								a(href="#")
									h4 SIG Bétera
						ul.right
							li.hide-on-med-and-down
								a(href="/visor") Visor
							li.hide-on-med-and-down
								a(href="#descargas-section") Descargas
							li.hide-on-med-and-down
								a(href="#servicios-section") Servicios								
							if !user
								li.hide-on-med-and-down
									a.new-user-btn(href='#') Registrarse
								li.hide-on-med-and-down
									a.forgot-password-btn(href='#') ¿Olvidaste Contraseña?
							if user
								li.hide-on-med-and-down(style="width : 200px")
									a.truncate.dd.dropdown-button(href='#' data-activates='dropdown1')
										i.material-icons.left.white-text person
										| #{user.name}
									ul#dropdown1.dropdown-content(style="margin-top : 64px; width : 200px")
										li
											a(href='#!') Opciones
										li.divider
										li
											a(href='/usuarios/logout')
												| Cerrar Sesión
												i.material-icons.left.red-text exit_to_app
block content
	ul#slide-out.side-nav(style="z-index : 1000;")
		li(style="background : url('http://www.betera.com/wp-content/uploads/policia-local-31.jpg'); background-size : 150%;")
			.userView
				a()
					i.material-icons.prefix.circle.white-text.darken-2(style="font-size : 5em;") account_circle
				if (user)
					a()
						span.black-text.name #{user.name}
					a(href='#!email')
						span.black-text.email #{user.email}
		li
			a(href='/') Inicio
				i.left.indigo-text.material-icons home
		li
			.divider
		li
			a(href='/visor') Visor
				i.left.indigo-text.material-icons maps
		li
			.divider
		li
			a(href='#descargas-section') Descargas
				i.left.indigo-text.material-icons file_download
		li
			.divider
		li
			a(href='#servicios-section') Servicios
				i.left.indigo-text.material-icons file_download
		li
			.divider
		if !user
			li
				a.new-user-btn(href='#') Registrarse
					i.left.indigo-text.material-icons home
			li
				.divider
			li
				a.forgot-password-btn(href='#') ¿Olvidaste Contraseña?
					i.left.indigo-text.material-icons home
			li
				.divider
	#modal-forgot.modal.modal-fixed-footer
		.modal-header
			.card-panel.indigo.lighten-2.white-text(style="margin-top : 0px; height : 4em") ¿Olvidaste Contraseña?
				i.material-icons.left vpn_key
		.modal-content
			.row(style="margin-bottom : 3.5em;")
				form#forgot-form.col.s12(action="/usuarios/password", method = "POST" )
					.row
						p.indigo-text Escribe el e-mail asociado a tu cuenta
						.input-field.col.s12
							input#email-form.validate(placeholder='Escriba su e-mail', type='email' name="email" )
							label(for='email-form') e-mail
					.row
						button#submit-forgot.col.s12.waves-effect.waves-light.waves-green.btn-large(type="submit" style="z-index : 0") Enviar
							i.material-icons.right send
		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancelar
	#modal-registro.modal(style="height : 85% !important;")
		.modal-header
			.card-panel.indigo.lighten-2.white-text(style="margin-top : 0px; height : 4em") Nuevo Usuario
				i.material-icons.left person_add
		.modal-content
			.row(style="margin-bottom : 3.5em;")
				form#registro-form.col.s12(action="/usuarios/signup", method = "POST" )
					.row
						p.indigo-text Datos personales
						.input-field.col.s12.m6
							input#nombre-form.validate(placeholder='Escriba su nombre', type='text' name="nombre" )
							label(for='nombre-form') Nombre
						.input-field.col.s12.m6
							input#apellidos-form.validate(placeholder='Escriba sus apellidos', type='text' name="apellidos" )
							label(for='apellidos-form') Apellidos
					.row
						p.indigo-text Datos de usuario
						.input-field.col.s12.m6
							input#email-form.validate(placeholder='Escriba su e-mail', type='email' name="email" )
							label(for='email-form') e-mail
						.input-field.col.s12.m6
							input#name.validate(placeholder='Escriba su nombre de usuario', type='text' name="name" )
							label(for='name-form') Nombre de usuario
					.row
						.input-field.col.s12.m6
							input#nombre.validate(placeholder='Escriba su clave', type='password' name="password" )
							label(for='password-form') Clave de acceso
						.input-field.col.s12.m6
							input#repassword.validate(placeholder='Repita clave de acceso', type='password' name="repassword" )
							label(for='repassword-form') Repetir clave de acceso
					.row
						#recaptcha-registro.g-recaptcha(data-sitekey="6LfjRAsUAAAAAEav71yglI9Mntr_z5faCBs3QTyw")
					.row
						button#submit-signup.col.s12.waves-effect.waves-light.waves-green.btn-large(type="submit" style="z-index : 0") Registrarse
							i.material-icons.right send
		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancelar
	.parallax-container(style="z-index:-1;")
		.parallax.valign-wrapper
			img.grayscale(style ="background : url('/images/betera-fondo-1.jpg'); height : 250%; display : block; transform: translate3d(-30%, 0px, 0px); opacity : 0.7; background-position : 0px 0px; background-size : cover;")
			.row.container.valign.valign-wrapper.valign.object-non-visible.hoverable(data-animation-effect="flipInX" style="z-index : 1;background : rgba(255, 255, 255, 0.3); border-radius : 10px;")
				.col.s6.valign.object-non-visible(data-animation-effect="bounceInLeft" style="height : 100px; background-image : url('/images/betera-logo.png'); background-size : contain; background-repeat : no-repeat;background-position : center center;")
				.col.s6.valign.object-non-visible(data-animation-effect="bounceInRight")
					h2.center-align.indigo-text.lighten-1 SIG Bétera
	.section.white.hoverable
		if user
			.row.container.blue.lighten-3.object-non-visible(data-animation-effect="fadeIn")
				.col.s6
					.card-panel.indigo.white-text Mapas Asignados
					.row(style="margin-bottom : 3.5em;")
				.col.s6
					.card-panel.indigo.white-text Notificaciones
					.row(style="margin-bottom : 3.5em;")
		else
			.row.container.blue.lighten-3.object-non-visible(data-animation-effect="fadeIn")
				.col.s12.m12.l6.object-non-visible(data-animation-effect="bounceInLeft")
					.card-panel.indigo.darken-3
						p.flow-text.center-align.white-text.darken-3 Visualizador Público
					.row.card-panel.hoverable.white.darken-2(style="margin-left : 0.75em; margin-right : 0.75em; padding : 10px;")
						.col.s12.valign-wrapper(style="height : 150px;")
							p.center-align.indigo-text.lighten-3.valign
								|  Los mapas públicos accesibles para todos los ciudadanos y empresas son entre otros : Callejero, Histórico de ortofotografías, Urbanismo, ...
					.center-align(style="margin-top : 1em; margin-bottom : 1em; margin-right : 0.75em; margin-left : 0.75em;")
						a.waves-effect.waves-light.btn(style="margin : 0px auto" href="/visor")
							i.material-icons.right call_made
							| Acceder
				.col.s12.m12.l6.object-non-visible(data-animation-effect="bounceInRight")
					.card-panel.indigo.darken-3
						p.flow-text.center-align.white-text.darken-3 Visualizador Restringido
					.row.card-panel.hoverable.white.darken-2(style="margin-left : 0.75em; margin-right : 0.75em; padding : 10px;")
						form#login.col.s12.valign-wrapper(style="height : 150px;")
							.row.valign(style="margin : 0px auto;")
								.input-field.col.s12.m6
									i.material-icons.prefix account_circle
									input.validate#icon_prefix(type='text' name="username_email")
									label.truncate(for='icon-prefix') Email o Usuario
								.input-field.col.s12.m6
									i.material-icons.prefix vpn_key
									input.validate#icon_prefix(type='password' name='password')
									label.truncate(for='icon-prefix') Contraseña
					.center-align(style="margin-top : 1em; margin-bottom : 1em; margin-right : 0.75em; margin-left : 0.75em;")
						a#submit-login.waves-effect.waves-light.btn(style="margin : 0px auto")
							i.material-icons.right send
							| Iniciar Sesión
	.parallax-container(style="z-index:-1;")
		.parallax.valign-wrapper
			img.grayscale(style ="background : url('/images/betera-fondo-1.jpg'); height : 250%; display : block; transform: translate3d(-30%, 0px, 0px); opacity : 0.7; background-position : 0px 60%; background-repeat : no-repeat; background-size : cover;")
			i.valign.material-icons.indigo-text.darken-3.object-non-visible(style="z-index : 1; font-size : 8em; margin : 0px auto;" data-animation-effect="bounceInDown") cloud_download
			i.valign.material-icons.blue-text.darken-3.object-non-visible(style="z-index : 0; font-size : 8em; margin : 0px auto;" data-animation-effect="flipInY") settings
			i.valign.material-icons.white-text.darken-3.object-non-visible(style="z-index : 1; font-size : 8em; margin : 0px auto;" data-animation-effect="bounceInUp") language
	.section.white.hoverable
		#descargas-section.row.container.object-non-visible(data-animation-effect="zoomInDown")
			h4.black-text.left #
			h4.indigo-text.right Descargas
		.row.container.blue.lighten-3.object-non-visible(data-animation-effect="zoomIn" style="padding-bottom : 20px; z-index : 1;")
			.slider.indigo
				ul.slides
					li.blue
						img.lighten-1.blue
						.caption.center-align
							h3 Descarga las capas de nuestro repositorio
							h5.light.grey-text.text-lighten-3 Catastro histórico, Puntos de Interés, ...
					li.blue
						img.lighten-1.indigo
						.caption.center-align
							h3 Elige el formato que deseas para descargar la capa
							h5.light.grey-text.text-lighten-3 SHP, GML, GeoJSON, KML y CSV
			.col.s12.center-align
				.col.s12
					p.white-text Elige capa para descargar
					.input-field
						select#capa-descargar-select.indigo-text
							each layer in allLayers
								option(value="#{layer.name}") #{layer.name}
				.col.s12
					p.white-text Elige formato
					.input-field
						select#formato-capa-select.indigo-text
							option(value="SHAPE-ZIP") SHP
							option(value="text/xml; subtype=gml/2.1.2") GML2
							option(value="gml3") GML3.1
							option(value="application/gml+xml; version=3.2") GML3.2
							option(value="application/json") GeoJSON
							option(value="application/vnd.google-earth.kml+xml") KML
							option(value="csv") CSV
			.col.s12.center-align
				.col.s12
					a#download-capa.waves-effect.waves-light.btn(href="#" style="margin : 0px auto") Descargar 
						i.material-icons.right file_download
		#servicios-section.row.container.object-non-visible(data-animation-effect="zoomInDown" style="z-index : 0;")
			h4.black-text.left #
			h4.indigo-text.right Servicios
		.row.container.blue.lighten-3.object-non-visible(data-animation-effect="zoomIn" style="padding-bottom : 20px; z-index : 0;")
			.slider.indigo
				ul.slides
					li.blue
						img.lighten-1.blue
						.caption.center-align
							h3 Servicio WMS
							h5.light.grey-text.text-lighten-3 Accede a toda la información del servicio de visualización.
							a.blue.white-text.waves-effect.waves-green.btn-flat(target="_blank" href='http://localhost:8080/geoserver/betera/wms?request=GetCapabilities&service=WMS') Pincha aquí
					li.blue
						img.lighten-1.indigo
						.caption.center-align
							h3 Servicio WFS
							h5.light.grey-text.text-lighten-3 Accede a toda la información de nuestro servicio de descargas.
							a.indigo.white-text.waves-effect.waves-green.btn-flat(target="_blank" href='http://localhost:8080/geoserver/betera/wms?request=GetCapabilities&service=WFS') Pincha aquí
						
	.parallax-container(style="z-index:-1;")
		.parallax
			img.grayscale(style ="background : url('/images/betera-fondo-1.jpg'); height : 250%; display : block; transform: translate3d(-30%, 0px, 0px); opacity : 0.7; background-repeat : no-repeat;background-position : 0px 210%;background-size : cover")
	footer.hoverable.page-footer.blue.darken-3(style="margin-top : 0px;")
		.container
			.row
				.col.l6.s12
					h5.white-text Contacto
					.row
						form#form-contacto.col.s12(method='POST' action="/contacto")
							.row
								.input-field.col.s12
									input.validate(type='email' name="email")
									label.white-text(for='icon_prefix') Tu email
							.row
								.input-field.col.s12
									input.validate(type='text' name="subject")
									label.white-text(for='icon_prefix') Título
							.row
								.input-field.col.s12
									textarea.materialize-textarea(name="message")
									label.white-text(for='textarea1') Mensaje
							.row
								#recaptcha-contacto.g-recaptcha(data-sitekey="6LfjRAsUAAAAAEav71yglI9Mntr_z5faCBs3QTyw")
							.row
								button#submit-contacto-btn.col.s12.waves-effect.waves-light.waves-green.btn-large(type="submit" style="z-index : 0") Enviar
									i.material-icons.right send
				.col.l4.offset-l2.s12
					h5.white-text Enlaces de Interés
					ul
						li
							a.grey-text.text-lighten-3(href='http://www.betera.es' target="_blank") http://www.betera.es
						li
							a.grey-text.text-lighten-3(href='http://sig.betera.es/visor/noticias/Terminos_Condiciones.pdf' target="_blank") Términos y condiciones
						li
							a.grey-text.text-lighten-3(href='#!') Recomendaciones
						li
							a.grey-text.text-lighten-3(href='#!') Preguntas frecuentes
		.footer-copyright
			.container
				| © 2016 Ayuntamiento de Bétera
				a.grey-text.text-lighten-4.right() Visitas #
block script
	// jQuery
	script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	// Modernizr
	script(type='text/javascript', src='/javascripts/modernizr.js')
	// Jquery appear
	script(type='text/javascript', src='/javascripts/jquery.appear.js')
	// Layout.js
	script(type='text/javascript', src='/javascripts/layout.js')
	// MaterializeCSS (Google)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
	// Recaptcha
	script(src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit', async='', defer='')
	script.
		var user = '!{JSON.stringify(user)}' || '{}';
			user = JSON.parse(user);

		var CaptchaCallback = function() {
			var idReg = grecaptcha.render('recaptcha-registro', {'sitekey' : '6LfjRAsUAAAAAEav71yglI9Mntr_z5faCBs3QTyw'});
			var idCont = grecaptcha.render('recaptcha-contacto', {'sitekey' : '6LfjRAsUAAAAAEav71yglI9Mntr_z5faCBs3QTyw'});
			$('#recaptcha-registro').attr('recaptcha-id', idReg);
			$('#recaptcha-contacto').attr('recaptcha-id', idCont);
		};

		function downloadCapa(capa, format){
			window.open('http://localhost:8080/geoserver/betera/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=betera:' + capa + '&outputFormat=' + format);
		}

		$('#download-capa').click(function(e){
			e.preventDefault();
			var capa = $('#capa-descargar-select').find('option:selected').val();
			var formato = $('#formato-capa-select').find('option:selected').val();
			downloadCapa(capa, formato);
		});

		if(typeof user == 'object' && user.id){
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/usuarios/mapas', true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					console.log(JSON.parse(xhr.responseText));
					if(xhr.status >= 200 && xhr.status < 400){
						
					} else {

					}
				}
			}
			xhr.send();
		}
		$('input').val('');
		$('form').trigger('reset');
		$('.button-collapse').sideNav();

		function setParallaxHeight(e){$('.parallax-container').css('height', $(window).innerHeight() / 2);}
		setParallaxHeight();
		$(window).on('resize', setParallaxHeight);
		$('.parallax').parallax();

		$('.slider').slider();
		$('select').material_select();
		
		$('#login').keyup(onEnterKeyLoginForm);

		$('#login').submit(onSubmitLogin);

		$('#modal-forgot').submit(onSubmitForgot);

		$('#form-contacto').submit(onSubmitContacto);

		$('#submit-login').bind('click', function(){ $('#login').submit(); })

		$('.new-user-btn').click(function(e){
			e.preventDefault();
			$('#modal-registro').openModal();
		});

		$('.forgot-password-btn').click(function(e){
			e.preventDefault();
			$('#modal-forgot').openModal();
		});

		function onEnterKeyLoginForm(e){
			if(e.which == 13){
				$('#login').submit();
			}
		}

		function onSubmitContacto(e){
			e.preventDefault();
			$(this).find('.btn').attr('disabled', 'disabled');
			var self = this;
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/contacto', false);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					$(self).find('.btn').attr('disabled', null);

					grecaptcha.reset(+$('#recaptcha-contacto').attr('recaptcha-id'));
					if(xhr.status < 400){
						Materialize.toast('e-mail enviado correctamente', 2500);
						$(self).find('input, textarea').val('');
					}
					else {
						Materialize.toast('Error : ' + xhr.responseText, 3500);
					}
				}
			}

			xhr.send($(this).serialize());
		}

		function onSubmitForgot(e){
			e.preventDefault();
			$('#submit-forgot').attr('disabled', 'disabled');
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/usuarios/password', false);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					$('#submit-forgot').attr('disabled', null);
					if(xhr.status < 400){
						Materialize.toast('Se ha enviado un e-mail con las intrucciones a : ' + $('#modal-forgot').find('[name = "email"]').val(), 2500);
						$('#modal-forgot').find('[name = "email"]').val('');
						$('#modal-forgot').closeModal();
					}
					else {
						Materialize.toast('Error : ' + xhr.responseText, 3500);
					}
				}
			}

			xhr.send($.param([
				{ name : 'email', value : $('#modal-forgot').find('[name = "email"]').val() }
			]));
		}

		function onSubmitLogin(e){
			e.preventDefault();
			$('#submit-login').attr('disabled', 'disabled');
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/usuarios/login', false);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					$('#submit-login').attr('disabled', null);
					if(xhr.status < 400){
						window.location.replace('/')
					}
					else {
						Materialize.toast('Error de autenticación : ' + xhr.responseText, 3500);
					}
				}
			}

			xhr.send($.param([
				{ name : 'username', value : $('#login').find('[name = "username_email"]').val() },
				{ name : 'password', value : $('#login').find('[name = "password"]').val() }
			]));
		}

		$('#registro-form').submit(onSubmitSignup);
		function onSubmitSignup(e){
			e.preventDefault();
			$('#submit-signup').attr('disabled', 'disabled');
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/usuarios/signup', false);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					$('#submit-signup').attr('disabled', null);
					grecaptcha.reset(+$('#recaptcha-registro').attr('recaptcha-id'));
					if(xhr.status < 400){
						$('#modal-registro').closeModal();
						Materialize.toast('¡Usuario creado con éxito, revisa tu correo para finalizar el registro!', 2500);
					}
					else {
						Materialize.toast('Error creando usuario : ' + xhr.responseText, 2500);
					}
				}
			}

			xhr.send( $(this).serialize() );
		}

		$('.dd').dropdown({
			inDuration: 300,
			outDuration: 225,
			constrain_width: false, // Does not change width of dropdown to that of the activator
			hover: true, // Activate on hover
			gutter: 0, // Spacing from edge
			belowOrigin: true, // Displays dropdown below the button
			alignment: 'left' // Displays dropdown with edge aligned to the left of button
		});
